/* Footer Section */
.footer-section {
  background-color: #000000;
  /* dark */
  color: #f8f9fa;
}

.footer-section a {
  color: #f8f9fa;
}
.footer-section a:hover {
  transform: scale(1.1);
}


/*  Light Mode - Footer */
/*  Light Mode - Footer */
body.light-mode .footer-section {
  background-color: #dee2e6;
  color: #212529;
}

/* Fix text color for paragraph and heading */
body.light-mode .footer-section p,
body.light-mode .footer-section h5,
body.light-mode .footer-section h6 {
  color: #212529;
}

/* Fix link color */
body.light-mode .footer-section a {
  color: #212529 !important;
  transition: transform 0.3s ease;
}

body.light-mode .footer-section a:hover {
  color: #0d6efd !important;
  transform: scale(1.1);
}

/* Fix HR */
body.light-mode .footer-section hr {
  background-color: #adb5bd;
}